<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
    <body>
        <h1>About</h1>
        <p>
            This application is a thesis project for my Bachelors Degree thesis. Its purpose is
            to help teachers and students to interact more during the class using the web and
            mobile phones.
        </p>
        <p>
            It is open source and you can find the code at this
                <a href="https://github.com/Corly/interactiveplus">link to github</a>.
        </p>
        <p>
            Feel free to contribute!
        </p>
    </body>
</html>
