<% provide(:title, 'Contact') %>
<!DOCTYPE html>
<html>
    <h1>Contact</h1>
    <body>
        <p>
            Contact me at the email dragos _dot corlatescu _at_ gmail _at_ com
            or
            open an issue at this <a href="https://github.com/Corly/interactiveplus">link to github</a>.
        </p>
    </body>
</html>
