<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
    <body>
        <h1>Help</h1>
        <p>
            You can always check the documentation at this 
                <a href="https://github.com/Corly/interactiveplus">link to github</a>.
        </p>
        <p>
            You can also email me at dragos _dot_ corlatescu _at_ gmail _dot_ com if you have any questions.
        </p>
    </body>
</html>
